{% extends 'enseignantDash/EnseignantDash.html' %}
{% load static %}
{% block ajouterCours %}
<link rel="stylesheet" href="{% static 'css/ajouterCours.css' %}">
<script src="{% static 'javascript/decision.js' %}"></script>
<div class="ajouterCours">
    <form action= "" method ="POST" onsubmit="return deceder('modification')">
        {% csrf_token %}
        <table>
            <tr>
                <td class="InfosTd">Filiere : </td> 
                <td><input type="text" name="filiere" value="{{filiere_nom}}"></td>
            </tr>
            <tr>
                <td class="InfosTd">Module : </td> 
                <td><input type="text" name="module" value="{{module_name}}"></td>
            </tr>
            <tr>
                <td class="InfosTd">Amphithéâtre : </td>
                <td class="selectTd">
                 <select name="salle">
                    {% for salle in salles  %}
                        <option value="{{salle.id_salle}}">{{salle.id_salle}}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td class="InfosTd">Heure Debut: </td>
                <td class="selectTd">
                    <input type ="text" value="{{debut}}">
                </td>
            </tr>
            <tr> 
                <td class="InfosTd">Heure Fin: </td>
                <td class="selectTd">
                    <input type ="text" value="{{fin}}">
                </td>
            </tr>
        </table>
        <button type="submit">Modifier</button>
    </form>
</div>

{% endblock ajouterCours %}