{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/adminstrateur.css' %}">
<link rel="stylesheet" href="{% static 'css/colorVar.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% include 'admin_app\administration\administration.html' %}
<div class="marginbar marginSidebar ajouteEtu">
<h2>ajouter Etudiant</h2>
<form action="">
<ul class="personnl">
    <li>
        <label for="nom">id Etudiant</label>
        <input type="text" name="nom" maxlength="100">
        <span>Saisir id Etudiant</span>
    </li>
    <li>
        <label for="nom">Code massare</label>
        <input type="text" name="nom" maxlength="100">
        <span>Saisir Code massare</span>
    </li>
    <li>
        <label for="name">Name</label>
        <input type="text" name="nom" maxlength="100">
        <span>Saisir Nom</span>
    </li>
    <li>
        <label for="name">Prenom</label>
        <input type="text" name="prenom" maxlength="100">
        <span>Saisir Prenom</span>
    </li>
    <li>
        <label for="email">Email</label>
        <input type="email" name="email" maxlength="100">
        <span>Saisir email </span>
    </li>
    <li>
        <label for="Phone">Phone</label>
        <input type="tel" name="Phone" maxlength="100">
        <span>Saisir telphone</span>
    </li>
    <li>
        <label for="motPasse">dateNaissance</label>
        <input type="date" name="motPasse" maxlength="100">
        <span>Saisir dateNaissance</span>
    </li>
    <li>
        <label for="motPasse">Filiere</label>
        <select class="seleAjouter">
            <option>fliere 1</option>
            <option>fliere 1</option>
            <option>fliere 1</option>
            <option>fliere 1</option>
        </select>
        <span>Saisir dateNaissance</span>
    </li>
</ul>
<button type="submit" class="button"> 
    <span>Ajouter</span>
</button>
</form>
</div>
{% endblock %}