{% load static %}
<link rel="stylesheet" href="{% static 'css/colorVar.css' %}">
<header>
    <div class="container">
    <div class="logo">
    <div><img src="{% static 'image/logo1.png' %}"></div>
    <div><img src="{% static 'image/logo2.png' %}"></div>
</div>
</div>
    <!-- <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">login</a></li>
            <li><a href="#">logup</a></li>
        </ul>
    </nav> -->
</header>