/* .ajouterCours {
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ajouterCours form {
    display: flex;
    flex-direction: column;
}

.ajouterCours table {
    width: 100%;
}

.ajouterCours td {
    padding: 8px;
}

.ajouterCours input[type="text"] {
    width: calc(100% - 20px); /* Pour laisser de la place pour le padding *
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.ajouterCours select {
    width: calc(100% - 20px); /* Pour laisser de la place pour le padding *
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.ajouterCours tr:last-child td {
    text-align: right;
}

@media screen and (max-width: 480px) {
    .ajouterCours {
        width: 100%;
    }
} */



/* Style général */
.ajouterCours {
    position: absolute;
    width: 90%;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50% , -50%);
}

.ajouterForm {
    width: 100%;
    padding: 20px;
    /* background-color: #f5f5f5; */
    border-radius: 5px;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

/* Style des champs de saisie */
td input[type="text"]{
    width: calc(100% - 10px); /* Ajustement de la largeur en tenant compte du padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.selectTd{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.InfosTd{
    font-weight: bold;
    font-size: 24px;
}
/* Style des boutons de sélection */
select {
    width: 100px;
    padding: 8px 16px;
    display: inline;
    border-radius: 8px;
    
    background-color: #fff; /* Couleur de fond */
    cursor: pointer;
}

/* Style des options de sélection */
option {
    padding: 8px;
}
input[type="date"] {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    transform: translateX(50%);
}
button{
    padding: 10px 20px;
    margin-top: 30px ;
    background-color: rgb(47, 186, 86);
    font-weight: bold;
    border: 1px solid #606c60;
    border-radius: 10px;
    margin-left : 60%;
}
/* Style pour les options sélectionnées */
option:checked {
    background-color: #f0f0f0; /* Couleur de fond lorsque sélectionné */
}

