{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- achraf updated ca  -->
  
    <body>
        <style>
            body {
                background-image: url("{% static 'image/pngtree-an-empty-classroom-with-a-blackboard-image_2641577.jpg' %}");
                background-size: cover;
            }
            
            main{
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(7.1px);
                -webkit-backdrop-filter: blur(7.1px);
                border: 1px solid rgba(3, 6, 55, 0.19);
            }
        </style>
     
        <header>
          <img src="{% static 'image/logo1.png' %}">
            <img src="{% static 'image/logo2.png' %}">
          
        </header>
        <main style="margin-top: 40px;">
        
    
            <h1>Bienvenue à l'Application de Gestion d'Absences </h1>
     
               <a href="login" class="btnLogin">login</a>
        </main>
    </body>
{% endblock content %}
