{% include 'admin_app\administration\administration.html' %}
<div class="content">
    <div class="box">
        <ul>
            <li id="qui">Model</li>
            <li><form action=""><input type="text" name="chercher"><button type="submit"><i class="fa-brands fa-searchengin"></i></button> </form></li>
        </ul>
        <div class="ajouter"><a href="#">ajouter</a> <i class="fa-solid fa-plus"></i> </div>
        
        
        
        
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Filière</th>
            <th>Enseignant</th>
            <th>Nombre d'heures</th>
            <th>ajouter</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Introduction à la programmation</td>
            <td>Informatique</td>
            <td>Professeur A</td>
            <td>60</td>

            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mathématiques avancées</td>
            <td>Mathématiques</td>
            <td>Professeur B</td>
            <td>45</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Physique quantique</td>
            <td>Physique</td>
            <td>Professeur C</td>
            <td>75</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Chimie organique</td>
            <td>Chimie</td>
            <td>Professeur D</td>
            <td>30</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Littérature française</td>
            <td>Littérature</td>
            <td>Professeur E</td>
            <td>40</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Histoire contemporaine</td>
            <td>Histoire</td>
            <td>Professeur F</td>
            <td>55</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Économie politique</td>
            <td>Économie</td>
            <td>Professeur G</td>
            <td>50</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Langues étrangères</td>
            <td>Langues</td>
            <td>Professeur H</td>
            <td>35</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Génétique moléculaire</td>
            <td>Biologie</td>
            <td>Professeur I</td>
            <td>65</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Arts plastiques</td>
            <td>Arts</td>
            <td>Professeur J</td>
            <td>20</td>
            <td >  <i class="fa-solid fa-trash"></i></td>
            <td><a href="#"><i class="fas fa-pencil-alt"></a></i></td>
        </tr>
    </tbody>
</table>
