{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enseignant</title>
    <link rel="stylesheet" href="{% static 'css/EnseignantDash.css' %}">
</head>
<body>
    <div class="sideBarre">
        <ul>
            <li class="active"><a href="{% url 'listeCours' %}" name="lien"  {% if request.path == "/ListeCours/" %} class="activeEnseignant" {% endif %}>Liste des cours</a></li>
            <li><a href="{% url 'ajouterCours' %}" name="lien"  {% if request.path == "/AjouterCours/" %} class="activeEnseignant" {% endif %}>Ajouter un cours</a></li>
            <li><a href="{% url 'remarque' %}" name="lien" {% if request.path == "/remarque/" %} class="activeEnseignant" {% endif %}>Remarque</a></li>
        </ul>
        <div class="Deconnection"> <a href="">Deconnexion</a></div>
    </div>
    <main>
        <div class="head1">
            <div class="logo">
                <img src="{% static 'image/logo1.png' %}" alt="">
                <img src="{% static 'image/logo2.png' %}" alt="">
            </div>
            <div class="profil">
                <img src="{% static 'image/profil1.jpg' %}" alt="profil">
                <div class="nomProf">{{user}} </div>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" placeholder="Rechercher" name="recherche">
                </form>
            </div>
        </div>
        <!--ici on va inclurer les pages-->
        {% block listeCours %}
        {% endblock listeCours %}

        {% block ajouterCours %}
        {% endblock ajouterCours %}

        {% block remarque %}
        {% endblock remarque %}

        {% block listeEtudiants %}
        {% endblock listeEtudiants %}

    </main>
</body>
</html>