{% extends 'enseignantDash/EnseignantDash.html' %}
{% load static %}
{% block listeCours %}


<script src="{% static 'javascript/decision.js' %}"></script>
<div class="listeCours">
    <table>
        <tr>
            <th>Filière</th>
            <th>Modoule</th>
            <th>Horaires</th>
            <th>Salle</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for cour in cours %}
        <tr>
            <td>{{ cour.filiere.nom_filiere }}</td>
            <td>  {{ cour.module_name }}</td>
            <td> {{ cour.classsession_set.first.heureDebut }} - {{ cour.classsession_set.first.heureFin }}</td>

            <td>{{ cour.classsession_set.first.classroom.id_salle }}</td>
            <td>
                <form action ="{% url 'modifierCours' %}" method="POST">
                    {% csrf_token %}
                <input type="hidden" name = "filiere_nom" value="{{ cour.filiere.nom_filiere }}"> 
                <input type="hidden" name = "module_name" value="{{ cour.module_name }}"> 
                <input type="hidden" name = "id_salle" value="{{ cour.classsession_set.first.classroom.id_salle }}">
                <input type="hidden" name = "debut" value="{{ cour.classsession_set.first.heureDebut }}">
                <input type="hidden" name = "fin" value="{{ cour.classsession_set.first.heureFin  }}">
                <input type="submit" value="Modifier">
                </form>
            <td>
                <form action ="% url 'Supprimer' %}" method="POST">
                    {% csrf_token %}
                    <input type ="hidden" name ="filiere" value = "{{cour.filiere.id_filiere}}" >
                    <input type ="submit" value="Supprimer">  
                </form>
      
            <td><form action ="{% url 'seanceDeCours' %}" method = "post" > 
                {% csrf_token %}
                <input type ="hidden" name ="filiere" value = "{{cour.filiere.id_filiere}}" >
                <input type ="submit" value="Lancer Cam">
                </form> </td>
        </tr>
    {% endfor %}    
        
    </table>
</div>
{% endblock listeCours %}