{% extends 'enseignantDash/EnseignantDash.html' %}
{% load static %}
{% block ajouterCours %}
<link rel="stylesheet" href="{% static 'css/ajouterCours.css' %}">
<script src="{% static 'javascript/decision.js' %}"></script>
<div class="ajouterCours">
    <form onsubmit="return deceder('modification')">
        <table>
            <tr>
                <td class="InfosTd">Module : </td>
                <td><input type="text" name="module" value="Programmation"></td>
            </tr>
            <tr>
                <td class="InfosTd">Amphithéâtre : </td>
                <td class="selectTd">
                    Block : <select name="block">
                                <option value="">Block 1</option>
                                <option value="">Block 2</option>
                                <option value="">Block 3</option>
                                <option value="">Block 4</option>
                            </select>
                    Salle : <select name="salle">
                                <option value="">Salle 2</option>
                                <option value="">Salle 1</option>
                                <option value="">Salle 3</option>
                                <option value="">Salle 4</option>
                            </select>
                </td>
            </tr>
            <tr>
                <td class="InfosTd">Créneau horaire : </td>
                <td class="selectTd">
                    Début du cours : <select name="debut">
                                        <option value="">08:30</option>
                                        <option value="">10:45</option>
                                        <option value="">14:00</option>
                                        <option value="">16:15</option>
                                    </select>
                    Durée : <select name="duree">
                                <option value="">2h</option>
                                <option value="">4h</option>
                            </select>
                </td>
            </tr>
            <tr>
                <td class="InfosTd">Date du cours : </td>
                <td><input type="date" name="dateCours" value="25/05/2024"></td>
            </tr>
        </table>
        <button type="submit"><a href="">Modifier</a></button>
    </form>
</div>

{% endblock ajouterCours %}